<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoLayoutExp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5DD00DB1D3CBAE3007206F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5DD00EF1D3CBAE4007206F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5DD00FA1D3CBAE4007206F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
